
/* Apply styles to all containers */
.root {
    -fx-background-color: #343a40;
    -fx-font-family: 'Sofia Sans Condensed SemiBold', sans-serif;
    
}
/* Apply styles to buttons */
.button {
    -fx-background-color:white;
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
    /*-fx-font-size: 16px;*/
    -fx-padding: 8px 16px;
    -fx-border-radius: 4px;
}

.button:hover {
    -fx-background-color: #ee1e46;
}


.text-field {
    -fx-background-color: #DCDCDC;
    -fx-text-fill: black;
    -fx-font-size: 18px;
    -fx-padding: 8px;
    -fx-border-radius: 4px;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 24px;
}
/*.text-field:focused {
    -fx-background-color:#FAEBD7;
}*/
 



/*



 
.check-box {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
}

 
.progress-bar {
    -fx-accent: #2ecc71;
}


.slider {
    -fx-background-color: #6c757d;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}

.slider .thumb {
    -fx-background-color: #ee1e46;
}*/

/*
.scroll-bar:vertical .thumb {
    -fx-background-color: #ee1e46;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #ee1e46;
}


.tool-bar {
    -fx-background-color: #4f5257;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-border-radius: 4px;
}

.text-area {
    -fx-background-color: #6c757d;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-padding: 8px;
    -fx-border-radius: 4px;
}
.text-area:focused {
    -fx-background-color: #ffffff;
}

.table-view .column-header-background {
    -fx-background-color: #262829;
    -fx-background-color: #00FF00;
}

.table-view .column-header .label {
    -fx-text-fill: black;
}

.table-view .table-row-cell {
    -fx-background-color: #f5f5f5;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #e8e8e8;
}

.table-view .table-row-cell:selected {
    -fx-background-color: #757778;
    -fx-text-fill: white;
}*/
